<table cellspacing="0" cellpadding="0" border="0" style="FONT-FAMILY: Comic Sans MS, cursive, sans-serif; COLOR: #4ca033;max-width:500px;" class="ng-scope">
    <tbody>
    <tr>
      <td width="500">
          <table style="width: 500px;" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                  <tr>
                      <td style="width: 400px;">
                          <span style="font-size: 10pt; COLOR: #d82da1; FONT-FAMILY: Comic Sans MS, cursive, sans-serif;"><strong class="ng-binding">Suchi Hossain</strong><!-- ngIf: showField('title') --><span ng-if="showField('title')" class="ng-scope"> |</span><!-- end ngIf: showField('title') --></span>
                          <!-- ngIf: showField('title') --><span ng-if="showField('title')" style="font-size: 10pt; COLOR: #4ca033;" class="ng-binding ng-scope">Web desiner</span><!-- end ngIf: showField('title') -->
                          
                          <table style="width: 380px;" cellspacing="0" cellpadding="0">
                              <tbody>
                                  <!-- ngIf: isAnyFieldEntered('phone, mobile') --><tr ng-if="isAnyFieldEntered('phone, mobile')" class="ng-scope">
                                      <td style="height: 10px;"></td>
                                  </tr><!-- end ngIf: isAnyFieldEntered('phone, mobile') -->
                                  <!-- ngIf: isAnyFieldEntered('phone, mobile') --><tr ng-if="isAnyFieldEntered('phone, mobile')" class="ng-scope">
                                      <td>
                                          <!-- ngIf: showField('phone') -->
                                          <!-- ngIf: showField('mobile') --><span ng-if="showField('mobile')" class="ng-scope"><span style="font-size: 9pt; COLOR: #4ca033; font-weight: bold;">M: </span><span style="font-size: 9pt; COLOR: #dd1313;" class="ng-binding">01771234562</span></span><!-- end ngIf: showField('mobile') -->
                                      </td>
                                  </tr><!-- end ngIf: isAnyFieldEntered('phone, mobile') -->
                                  <!-- ngIf: showField('email') --><tr ng-if="showField('email')" class="ng-scope">
                                      <td>
                                          <span style="font-size: 9pt; COLOR: #4ca033; font-weight: bold;">E: </span><span> <a href="mailto:suchihossain455@gmail.com" style="font-size: 9pt; font-family: Comic Sans MS, cursive, sans-serif; color:#dd1313; text-decoration: none;"><span style="font-size: 9pt; font-family: Comic Sans MS, cursive, sans-serif; color:#dd1313; text-decoration: none;" class="ng-binding">suchihossain455@gmail.com</span></a></span>
                                      </td>
                                  </tr><!-- end ngIf: showField('email') -->          
                                  <!-- ngIf: showField('website') --><tr ng-if="showField('website')" class="ng-scope">
                                      <td>
                                          <a href="http://www.my-company.com" target="_blank" rel="noopener" style="text-decoration:none; color:#dd1313; font-family:Comic Sans MS, cursive, sans-serif; font-size:9pt; font-weight: bold;"><span style="text-decoration:none; color:#dd1313; font-family:Comic Sans MS, cursive, sans-serif; font-size:9pt; font-weight: bold;" class="ng-binding">www.my-company.com<span></span></span></a>
                                      </td>
                                  </tr><!-- end ngIf: showField('website') --> 
                              </tbody>
                          </table>
                      </td>
                      <!-- ngIf: showField('logo') --><td ng-if="showField('logo')" style="width: 100px;" class="ng-scope">
                          <!-- ngIf: showField('logoURL') -->
                          <!-- ngIf: !showField('logoURL') --><img ng-if="!showField('logoURL')" border="0" alt="Logo" width="77" style="width:85px; height:auto; border:0;" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/green-energy/logo.png" class="ng-scope" src="https://www.mail-signatures.com/signature-generator/img/templates/green-energy/logo.png"><!-- end ngIf: !showField('logoURL') -->   
                      </td><!-- end ngIf: showField('logo') -->
                  </tr>
              </tbody>
          </table>
      </td>
    </tr>
    <!-- ngIf: showField('banner') -->
    <tr>
        <td width="500" style="padding-top: 5px;">
            <table style="width: 100%;">
              <tbody>
                  <tr>
                      <td style="font-size: 9pt;   font-family: Comic Sans MS, cursive, sans-serif; color:#dd1313;">
                          <!-- ngIf: showField('company') --><span ng-if="showField('company')" class="ng-binding ng-scope">Suchir Collection<!-- ngIf: isAnyFieldEntered('address1, address2') --><span ng-if="isAnyFieldEntered('address1, address2')" class="ng-scope">, </span><!-- end ngIf: isAnyFieldEntered('address1, address2') --></span><!-- end ngIf: showField('company') --><!-- ngIf: showField('address1') --><span ng-if="showField('address1')" class="ng-binding ng-scope">Rajshahi<!-- ngIf: showField('address2') --><span ng-if="showField('address2')" class="ng-scope">, </span><!-- end ngIf: showField('address2') --></span><!-- end ngIf: showField('address1') --><!-- ngIf: showField('address2') --><span ng-if="showField('address2')" class="ng-binding ng-scope">Bangladesh</span><!-- end ngIf: showField('address2') -->
                      </td>  
                      <td style="text-align: right;">
                          <!-- ngIf: showField('facebookURL') --><span ng-if="showField('facebookURL')" class="ng-scope">&nbsp;<a href="https://www.facebook.com/sadh.hossain.7" target="_blank" rel="noopener"><img border="0" width="20" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/green-energy/fb.png" alt="facebook icon" style="border:0; height:20px; width:20px" src="https://www.mail-signatures.com/signature-generator/img/templates/green-energy/fb.png"></a></span><!-- end ngIf: showField('facebookURL') -->
                          <!-- ngIf: showField('twitterURL') --><span ng-if="showField('twitterURL')" class="ng-scope">&nbsp;<a href="https://twitter.com/SuchiHossain" target="_blank" rel="noopener"><img border="0" width="20" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/green-energy/tt.png" alt="twitter icon" style="border:0; height:20px; width:20px" src="https://www.mail-signatures.com/signature-generator/img/templates/green-energy/tt.png"></a></span><!-- end ngIf: showField('twitterURL') -->
                          <!-- ngIf: showField('youtubeURL') -->
                          <!-- ngIf: showField('linkedinURL') --><span ng-if="showField('linkedinURL')" class="ng-scope">&nbsp;<a href="https://www.linkedin.com/in/suchi-hossain-4a1a5b243/" target="_blank" rel="noopener"><img border="0" width="20" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/green-energy/ln.png" alt="linkedin icon" style="border:0; height:20px; width:20px" src="https://www.mail-signatures.com/signature-generator/img/templates/green-energy/ln.png"></a></span><!-- end ngIf: showField('linkedinURL') -->
                          <!-- ngIf: showField('instagramURL') --><span ng-if="showField('instagramURL')" class="ng-scope">&nbsp;<a href="https://www.instagram.com/sadh.hossain.7/" target="_blank" rel="noopener"><img border="0" width="20" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/green-energy/it.png" alt="instagram icon" style="border:0; height:20px; width:20px" src="https://www.mail-signatures.com/signature-generator/img/templates/green-energy/it.png"></a></span><!-- end ngIf: showField('instagramURL') -->
                          <!-- ngIf: showField('pinterestURL') -->
                      </td>
                  </tr>
              </tbody>
            </table>
        </td>
    </tr>
    </tbody>
    
    